<h2>Lembretes:</h2>
<p>Bugs conhecidos:
  <ul>
    <li>Nenhum</li>
  </ul>
</p>


<div class="col-md-6">
  <label for="validationCustom03" class="form-label">City</label>
  <input type="text" class="form-control" id="validationCustom03" required>
  <div class="invalid-feedback">
    Please provide a valid city.
  </div>
</div>
<i class="fa-solid fa-anchor"></i>
