<p id="notice"><%= notice %></p>

<h1>Raças</h1>
<p>
  <%= link_to  new_race_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus"></i> Nova raça
  <% end %>
</p>
<% @races.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |race| %>
      <div class="col-md-4">
        <h4><%= link_to race.nome, race %></h4>
        <%= race.descr %>
      </div>
    <% end %>
  </div>
<% end %>
<br>
