<p id="notice"><%= notice %></p>
<h1>Livros</h1>
<p>
  <%= link_to new_book_path, class: 'btn btn-success' do %>
    <i class="fa fa-plus"></i> Novo Livro
  <% end %>
</p>

<% @books.in_groups_of(3) do |group| %>
  <div class="row">
  <% group.compact.each do |book| %>
    <div class="card ms-2 mb-2" style="width: 26rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to book.nome, book %></h5>
        <p class="card-text"><%= book.descr.truncate(380) %></p>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
